.N32B-container {
    display: flex;
    /* justify-content: center;
    align-content: center;
    margin: 8px -15px -8px 15px; */
}
.N32B {
    background-image: url('./n32b-device.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 100vh; */
    width: 605px;
    height: 404px;
    /* flex: 1; */
}